body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/whale-long.svg");
  background-repeat: no-repeat;

  /*background-position: 50px 100px; */
  background-position: center 270px;
}

a {
  color: #00B7FF;
}
h2 {
border:2px dotted #33E1FF;
padding: 10px;

}
#header{width:500px}
#header-left{
  float: left;
  width: 50%;
  margin: 0;
}
#header-right{
  float: right;
  width: 50%;
  margin: 0;
}
#main{width: 500px;}
#menu{
  width:200px;
  float:left;
}
#action{
  width:300px;
  float:right;
}
#action li{
  list-style-type: none;
}
