body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("../images/whale-long.svg");
  background-repeat: no-repeat;
  background-position: center 270px; */
}

a {
  color: #00B7FF;
}
h2 {
border:2px dotted #33E1FF;
padding: 10px;

}

#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
#header{width:100%}
#header-left{
  float: left;
  width: 49%;
  margin: 0;
}
#header-right{
  float: right;
  width: 49%;
  margin: 0;
}
#main{width: 100%;}
#menu{
  width:33%;
  float:left;
  margin: 0;
}
#action{
  width:65%;
  float:right;
  margin: 0;
}
#action li{
  list-style-type: none;
}
