body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h2 {
border:2px dotted #33E1FF;
padding: 10px;

}
#page{
    width: 100%;
    height: 100%;
    opacity : 0.2;
    background-image: url("../images/whale-long.svg");
    background-repeat: no-repeat;
    background-position: center 270px;

}
#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
#header{width:500px}
#header-left{
  float: left;
  width: 50%;
  margin: 0;
}
#header-right{
  float: right;
  width: 50%;
  margin: 0;
}
#main{width: 500px;}
#menu{
  width:33%;
  float:left;
  margin: 0;
}
#action{
  width:67%;
  float:right;
  margin: 0;
}
#action li{
  list-style-type: none;
}
